// VARIABLES - COLORS
$orvitask_green: #58D68D;
$orvitask_white: #f8f8f8;

$orvitask_red: indianred;
$orvitask_khaki: khaki;

$orvitask_red_darker: rgb(44, 32, 32);
$orvitask_khaki_darker: rgb(47, 46, 37);

$gradient1 : linear-gradient(45deg, rgba(purple, .2), rgba(#1a1a1a, .3) 30%);
$gradient2 : linear-gradient(-135deg, rgba(lighten(#2392a2, 10%), .6), rgba(#1a1a1a, .3) 30%);


// ANIMATIONS

@keyframes jiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shine-pulse {
  0% {
    transform: scale(1);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 0.3;
  }
}


// RESET

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #1a1a1a;
  width: 100vw;
  padding-top: env(safe-area-inset-top);
  background-image: $gradient1, $gradient2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  appearance: none;
  border: none;
  box-shadow: none;
  background-color: transparent;
}


// ELEMENTS


.cat-badge {
  display: block;
  cursor: pointer;
  position: relative;
  
  .label {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #222;
    color: $orvitask_white;
    font-size: 15px;
    text-wrap: nowrap;
  }
  
  &.cat-badge--s {
    .label {
      padding: 2px 7px;
      font-size: 12px;
    }
  }
  
  &.cat-badge--l {
    .label {
      padding: 5px 10px;
      font-size: 18px;
    }
  }
  
  .badge {
    position: absolute;
    top: -8px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: $orvitask_white;
    color: #111;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: .8em;
    cursor: pointer;
    
    &.removeButton {
      right: -5px;
    }
    
    &.newCat {
      right: auto;
      left: -5px;
      background-color: $orvitask_green;
    }
  }
  
  &.cat-badge--selected {
    animation: jiggle 0.3s infinite;
  }
}



.task-checkbox {
  display: block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid $orvitask_white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  cursor: pointer;
  
  .checkmark {
    color: $orvitask_white;
  }

  &.task-checkbox--s {
    width: 15px;
    height: 15px;
  }
}